body{
  background-color: rgb(37, 5, 5);
}
.box{
  border: 2px solid rgb(4, 4, 36);
  height: 650px;
  width: 300px;
  background-color:rgb(143, 50, 123);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  align-content: center;
}
.button{
  margin: 20px;
  padding: 10px;
  margin-left: 0px;
  border-radius: 10px;
  background-color:rgb(66, 16, 66);
  color: rgb(249, 248, 247);
  font-weight: 900;
  font-size:25px;
  height: 60px;
  width: 60px;
  text-align: center;
  border: none;

  
}
#equal{
  background-color: rgb(86, 58, 211);
}
.result{
  height: 50px;
  box-shadow:transparent;
  margin: 0;
  background-color: rgb(232, 203, 229);
border:none;
font-size: 45px;
cursor: pointer;

}
.result:hover{
  background-color: aliceblue;
}
.title{
  color: white;
margin: auto;
width: 150px;
}